@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
$color_1: #0075ff;
$color_2: #777;
$color_3: #dc0a0a;
$color_4: #009688;
$color_5: rgb(248, 223, 32);
$color_6: #52e824;
$color_7: rgb(245, 146, 32);
$color_8: red;
$color_9: #e7f1fa;

$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: 'Shrikhand', cursive;

$background-color_1: rgb(96,9,240);
$background-color_2: #f8f8f8;
$background-color_3: #fff;
$background-color_4: #f9f9f9;
$background-color_5: #ddd;
$background-color_6: #0075ff;
$background-color_7: #52e824;
$background-color_8: #82C3EC;
$background-color_9: #fc3249;
$background-color_10: #11f355;

* {
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
	background-color: $background-color_1;
}
.quiz-app {
	margin: auto;
	border-radius: 10px;
	width: 800px;
	background-color: $background-color_2;
	padding: 15px;
	.quiz-info {
		display: flex;
		background-color: $background-color_3;
		padding: 20px;
		.category {
			flex: 1;
		}
		.count {
			flex: 1;
			text-align: right;
		}
	}
	.quiz-area {
		background-color: $background-color_3;
		padding: 20px 20px 0;
		margin-top: 15px;
		h2 {
			margin: 0;
		}
	}
	.answer-area {
		background-color: $background-color_3;
		padding: 20px;
		.answer {
			background-color: $background-color_4;
			padding: 15px;
			&:not(:last-child) {
				border-bottom: 1px solid #dfdfdf;
			}
		
		}
	}
	.bullets {
		border-top: 1px solid #dfdfdf;
		background-color: $background-color_3;
		display: flex;
		padding: 20px;
		justify-content: space-between;
		
	}
	
}
.fullScreen {
	background: url(../../cover.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.countdown {
	padding: 15px 20px;
}
////// index 
 
		body {
			background-image: url("../cover.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			background-attachment: fixed;
			background-position: center;
		}
	

.welcome {
	position: absolute;
	top: 40%;
	margin: auto;
	left: 28%;
	font-family: $font-family_2;
	font-size: 3rem;
	font-weight: 700;
	color: $color_5;
}
.color-secces {
	color: $color_6;
}
.color-fail {
	color: $color_3;
}
////	timmer 
		.base-timer__label.orange {
			color: $color_7;
      
		}
	

.base-timer__label.red {
	color: $color_8;
}
.base-timer__label {
	font-size: 20px;
}
#progressTime {
	border-radius: 10px;
	display: flex;
	align-items: center;
	width: 90%;
	height: 1em;
	margin: auto;
	margin-top: 5px;
}
#BarTime {
	width: 100%;
	height: 100%;
	background-color: $background-color_7;
	border-radius: 10px;
}
.answer {
	background-color: $background-color_8 !important;
	margin-top: 5px;
	cursor: pointer;
}
.bg-red {
	background-color: $background-color_9 !important;
}
.bg-green {
	background-color: $background-color_10 !important;
}
.button-5 {
	height: 50px;
	width: 120px;
	margin: 10px 25px;
	border: none;
	outline: none;
	color: $color_9;
	background: linear-gradient(#bf8006, #f8d201);
	font-size: 18px;
	cursor: pointer;
	position: absolute;
	top: 55%;
	left: 45%;
}
.button-6 {
	@extend.button-5;
	border: none;
	left: 49%;
	background: linear-gradient(#2065aa, #7cabfd);
}
.button-7 {
	@extend.button-5;
	left: 38%;
	background: linear-gradient(#2065aa, #7cabfd);
}
.button-8 {
	height: 50px;
	width: 120px;
	margin: 10px 25px;
	border: none;
	outline: none;
	color: $color_9;
	background: linear-gradient(#bf8006, #f8d201);
	font-size: 18px;
	cursor: pointer;
	background: linear-gradient(#2065aa, #7cabfd);
}
.container {
	height: 100vh;
}
.correctAs {
	margin: auto;
	position: absolute;
	top: 45%;
	left: 39%;
	color: $color_1;
}
.bg-regulare {
	background-color: $background-color_6 !important;
}
